*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("https://i.gifer.com/origin/e2/e2aec645e3f805bfeef5468bc9bf3a34.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.form-template{
    padding: 1.5rem;
    width: 50%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.985);
    border-radius: 4%;
    gap: .5rem;
}
.form-template h3{
    color: #ABF5F4;
    text-transform: uppercase;
}
.form-template input {
    margin: 0.5rem;
    height: 2rem;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: white;
    text-align: center;
    background-color: #1f2029c9;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
  }
  .btn {
    border-radius: 4px;
    height: 44px;
    padding: .5rem;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
     -webkit-transition: all 200ms linear; 
    transition: all 200ms linear;
    padding: 0 30px;
    /* letter-spacing: 1px; */
    text-align: center;
    border: none;
    background-color: #B75BCF;
    color: #102770;
    box-shadow: 0 8px 24px 0 rgba(255, 235, 167, 0.2);
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
input[type="date"] {
  color-scheme: dark;
}


  .btn:active,
  .btn:focus {
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
  }
  .btn:hover {
    background-color: #102770;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
  }
  /*queries*/
  @media (min-width:1445px){
    .form-template{
        font-size: 1.5rem;
    }
    .form-template input{
        height: 3rem;
        font-size: 1.5rem;
        /* margin: 1rem; */
    }
    .btn{
        font-size: 1.5rem;
    }
  }