.content-Cart {
  background: linear-gradient(#02070d, #032b4f);
  min-height: 66.7vh;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  /* padding: 1rem; */
  padding-top: 5%;
}
.title {
  color: #09e6c9c2;
}

.table {
  padding: 1rem;
  width: 70rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #02070d;
  border-radius: 10px;
  color: #00fffb;
  margin: 2rem;
  transition: 0.5s;
}
.tableHeader {
  color: #00fffb;
  width: 100%;
  border: 2px solid #00fffb;
  border-top: none;
  border-left: none;
  display: flex;
  justify-content: flex-end;
}
.tableFooter {
  color: #00fffb;
  width: 100%;
  border: 2px solid #00fffb;
  border-left: none;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
.tableBody {
  color: #00fffb;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 5px;
  padding-top: 1rem;
  text-align: center;
  align-items: center;
}
.cont-cart-img {
  width: 27%;
  height: 27%;
}
.img-cart {
  width: 100%;
  height: 100%;
}

.subTotal {
  text-align: center;
  width: 37rem;
}
.cont-buy-usd {
  display: flex;
  text-align: center;
  align-items: center;
  width: 5rem;
  justify-content: center;
}
.carry-title {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1150px) {
  .table {
    text-align: left;
    width: 60rem;
  }
}
@media (max-width: 1000px) {
  .table {
    width: 53rem;
  }
  .subTotal {
    width: 27rem;
  }
}
@media (max-width: 875px) {
  .table {
    width: 45rem;
  }
  .subTotal {
    width: 15rem;
  }
}
@media (max-width: 750px) {
  .table {
    width: 43rem;
  }
  .subTotal {
    width: 13rem;
  }
}
@media (max-width: 670px) {
  .table {
    width: 35rem;
  }
}
@media (max-width: 585px) {
  .table {
    width: 30rem;
  }
}
@media (max-width: 545px) {
  .table {
    width: 28rem;
  }
}
