.button-add-unity {
    padding: 0.1em 0.3em;
    border: 2px solid #5017c3;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #5a3dcb;
    border-radius: 1rem;
    letter-spacing: 0.2rem;
   }
   
   .button-add-unity::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #4817c3;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .button-add-unity:hover::before {
    width: 105%;
   }
   
   .button-add-unity:hover {
    color: rgb(255, 255, 255);
   }

   .button {
    padding: 0.1em 0.3em;
    border: 2px solid #cd1111;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #cb3d3d;
    border-radius: 1rem;
    letter-spacing: 0.2rem;
}
   
   .button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #d50c0c;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   .button:hover::before {
    width: 105%;
   }
   
   .button:hover {
    color: rgb(255, 255, 255);
   }

   .unity-cell-table{
    display: flex;
    justify-content: space-between;
   }
   .buttons-add-remove{
    display: flex;
    gap: 1rem;
   }